In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import pandas as pd
import glob

In [ ]:
def get_histories():
    pickle_files = sorted(glob.glob("*.pkl"))
    datas = {}
    for fname in pickle_files:
        name = fname.split('.')[0]
        with open(fname, 'rb') as f:
            datas[name] = pickle.load(f)

    for name, train_dict in datas.items():
        vector_vals = []
        for val_type in train_dict[0]:
            print(val_type)
            try:
                n = len(train_dict[val_type])
                vector_vals.append(val_type)
            except:
                continue
        print(vector_vals)
        for vector_val in vector_vals:
            for i in range(train_dict):
                for j in range(train_dict[vector_val]):
                    train_dict[i][vector_val + str(j)] = train_dict[i][vector_val][j]
            del train_dict[vector_val]
    
    return datas

In [ ]:
datas = get_histories()

In [20]:
pd.DataFrame(datas['A2C_all_history'][0])

,cumsumfert,dap,dtt,ep,grnwt,istage,nstres,rtdep,srad,sw,swfac,tmax,topwt,totir,vstage,wtdep,xlai
0,200.0,0,0.000000,0.000000,0.000000,7,0.000000,0.000000,11.905438,"[0.14235299825668335, 0.1331229954957962, 0.13...",0.0,14.850136,0.000000,50.0,0.0,179.525589,0.000000
1,200.0,0,0.000000,0.000000,0.000000,7,0.000000,0.000000,12.348525,"[0.10119300335645676, 0.09869100153446198, 0.1...",0.0,18.535683,0.000000,50.0,0.0,179.920288,0.000000
2,200.0,0,0.000000,0.000000,0.000000,7,0.000000,0.000000,7.212456,"[0.1445239931344986, 0.11343500018119812, 0.10...",0.0,21.753508,0.000000,50.0,0.0,179.523819,0.000000
3,200.0,0,0.000000,0.000000,0.000000,7,0.000000,0.000000,11.617635,"[0.1014690026640892, 0.091948002576828, 0.0899...",0.0,20.508461,0.000000,50.0,0.0,179.932938,0.000000
4,200.0,0,0.000000,0.000000,0.000000,7,0.000000,0.000000,9.319801,"[0.13850100338459015, 0.09816399961709976, 0.0...",0.0,23.523277,0.000000,50.0,0.0,179.506180,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,200.0,126,19.555420,1.645113,3036.807861,5,0.043378,93.951607,23.004366,"[0.07914400100708008, 0.08034200221300125, 0.0...",0.0,33.678345,5823.985596,50.0,21.0,180.000000,0.443103
153,200.0,127,20.923868,1.803836,3111.717529,5,0.058587,94.676430,23.382380,"[0.06916499882936478, 0.07560499757528305, 0.0...",0.0,36.379833,5914.996338,50.0,21.0,180.000000,0.439858
154,200.0,128,20.263666,1.297730,3200.985413,5,0.059874,94.676430,18.567894,"[0.13460500538349152, 0.12814700603485107, 0.1...",0.0,34.032150,6005.414429,50.0,21.0,180.000000,0.436566
155,200.0,129,19.643494,1.672710,3200.985413,6,0.091380,94.676430,22.929060,"[0.09177099913358688, 0.09186200052499771, 0.0...",0.0,33.703922,6005.414429,50.0,21.0,180.000000,0.436566
156,200.0,130,19.164150,1.369894,3200.985413,6,0.091380,94.676430,19.647383,"[0.09036999940872192, 0.08288499712944031, 0.0...",0.0,33.567425,6005.414429,50.0,21.0,180.000000,0.436566